@use 'sass:math';

// === MIXINS ===

@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
}

// === / MIXINS ===

// === FONTS ===

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import './Fonts.scss';

// === / FONTS ===

// === FUNCTIONS ===

@function strip-unit($num) {
  @return math.div($num, ($num * 0 + 1));
}

@function rem($num) {
  @return math.div(strip-unit($num), 16) * 1rem;
}

@function calcResponsiveSize($size-min, $size-max, $width-min, $width-max) {
  $size-min: strip-unit($size-min);
  $size-max: strip-unit($size-max);
  $width-min: strip-unit($width-min);
  $width-max: strip-unit($width-max);
  $k: math.div(($size-max - $size-min), ($width-max - $width-min));
  $b: rem($size-min - $k * $width-min);
  @return calc(#{$k} * 100vw + #{$b});
}

// === / FUNCTIONS ===

// === VARIABLES ===

$base: rem(5px);

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$fs-xxxxxs: rem(6px);
$fs-xxxxs: rem(7px);
$fs-xxxs: rem(8px);
$fs-xxs: rem(10px);
$fs-xs: rem(11px);
$fs-s: rem(12px);
$fs-m: rem(13px);
$fs-l: rem(14px);
$fs-xl: rem(18px);
$fs-xxl: rem(22px);
$fs-xxxl: rem(32px);
$fs-xxxxl: rem(55px);

$transition: 0.3s;
$transition-01: 0.1s;
$transition-02: 0.2s;

$color-dark: rgba(18, 18, 18, 1);
$color-dark-02: rgba(18, 18, 18, 0.2);
$color-dark-03: rgba(18, 18, 18, 0.3);
$color-dark-04: rgba(18, 18, 18, 0.4);
$color-dark-05: rgba(18, 18, 18, 0.5);
$color-dark-06: rgba(18, 18, 18, 0.6);
$color-dark-07: rgba(18, 18, 18, 0.7);
$color-dark-08: rgba(18, 18, 18, 0.8);
$color-dark-09: rgba(18, 18, 18, 0.9);
$color-white: rgba(255, 255, 255, 1);
$color-white-02: rgba(255, 255, 255, 0.2);
$color-white-03: rgba(255, 255, 255, 0.3);
$color-white-04: rgba(255, 255, 255, 0.4);
$color-white-05: rgba(255, 255, 255, 0.5);
$color-white-06: rgba(255, 255, 255, 0.6);
$color-white-07: rgba(255, 255, 255, 0.7);
$color-white-08: rgba(255, 255, 255, 0.8);
$color-white-09: rgba(255, 255, 255, 0.9);
$color-orange: rgba(243, 129, 32, 1);
$color-orange-02: rgba(243, 129, 32, 0.2);
$color-orange-03: rgba(243, 129, 32, 0.3);
$color-orange-04: rgba(243, 129, 32, 0.4);
$color-orange-05: rgba(243, 129, 32, 0.5);
$color-orange-06: rgba(243, 129, 32, 0.6);
$color-orange-07: rgba(243, 129, 32, 0.7);
$color-orange-08: rgba(243, 129, 32, 0.8);
$color-orange-09: rgba(243, 129, 32, 0.9);
$color-orange-light: rgba(253, 156, 73, 1);
$color-orange-light-02: rgba(253, 156, 73, 0.2);
$color-orange-light-03: rgba(253, 156, 73, 0.3);
$color-orange-light-04: rgba(253, 156, 73, 0.4);
$color-orange-light-05: rgba(253, 156, 73, 0.5);
$color-orange-light-06: rgba(253, 156, 73, 0.6);
$color-orange-light-07: rgba(253, 156, 73, 0.7);
$color-orange-light-08: rgba(253, 156, 73, 0.8);
$color-orange-light-09: rgba(253, 156, 73, 0.9);
$color-green: rgba(18, 200, 104, 1);
$color-green-02: rgba(18, 200, 104, 0.2);
$color-green-03: rgba(18, 200, 104, 0.3);
$color-green-04: rgba(18, 200, 104, 0.4);
$color-green-05: rgba(18, 200, 104, 0.5);
$color-green-06: rgba(18, 200, 104, 0.6);
$color-green-07: rgba(18, 200, 104, 0.7);
$color-green-08: rgba(18, 200, 104, 0.8);
$color-green-09: rgba(18, 200, 104, 0.9);
$color-green-light: rgba(33, 226, 124, 1);
$color-green-light-02: rgba(33, 226, 124, 0.2);
$color-green-light-03: rgba(33, 226, 124, 0.3);
$color-green-light-04: rgba(33, 226, 124, 0.4);
$color-green-light-05: rgba(33, 226, 124, 0.5);
$color-green-light-06: rgba(33, 226, 124, 0.6);
$color-green-light-07: rgba(33, 226, 124, 0.7);
$color-green-light-08: rgba(33, 226, 124, 0.8);
$color-green-light-09: rgba(33, 226, 124, 0.9);

$breakpoint-xxs-min: 320px;
$breakpoint-xs-min: 480px;
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1440px;

$breakpoint-xxxs-max: $breakpoint-xxs-min - 1px;
$breakpoint-xxs-max: $breakpoint-xs-min - 1px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

// === / VARIABLES ===
