@import '../../../sass/Constants.scss';

.input-phone__label {
  display: flex;
  flex-direction: column;
  gap: $base * 2;
  width: 100%;
}

.input-phone {
  padding: $base * 5 0 $base * 5 $base * 9;
  color: $color-dark;
  text-align: left;
  border: none;
  border-radius: $base * 10;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
