@import './sass/Normalize.scss';
@import './sass/Constants.scss';

// === COMMON ===

body {
  @include montserrat;
  color: $color-dark;
  scroll-behavior: smooth;
}

.body_overflow {
  overflow-y: hidden;
}

.wrapper {
  max-width: $base * 314;
  width: 82vw;
  margin: 0 auto;

  @media (max-width: $breakpoint-lg-min) {
    width: 97vw;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
  @include montserrat;
  margin: 0;
}

.h1 {
  font-size: calcResponsiveSize(18, 55, 321, 1920);
  font-weight: $fw-light;

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calcResponsiveSize(16, 18, 240, 320);
  }
}

.h2 {
  font-size: calcResponsiveSize(13, 32, 321, 1920);
  font-weight: $fw-regular;

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calcResponsiveSize(11, 13, 240, 320);
  }
}

.h3 {
  font-size: calcResponsiveSize(10, 14, 321, 1920);
  font-weight: $fw-semi-bold;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calcResponsiveSize(8, 10, 240, 320);
  }
}

.h4 {
  font-size: calcResponsiveSize(10, 14, 321, 1920);
  font-weight: $fw-regular;

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calcResponsiveSize(8, 10, 240, 320);
  }
}

a {
  text-decoration: none;
}

.active {
  background-color: $color-orange;
  transition: $transition-01;
}

.fw-light {
  font-weight: $fw-light;
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-medium {
  font-weight: $fw-medium;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-bold {
  font-weight: $fw-bold;
}

.color-green {
  color: $color-green;
}

.color-orange {
  color: $color-orange;
}

.cursor-pointer {
  cursor: pointer;
}

// === / COMMON ===
